<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="    https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css
    ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="accueil1.css">
    <title>first-page</title>
</head>
<body>
    <div class="container">
        <div class="contain">
            <nav>
                <div class="logo"><img src="/Algerian Crafters (5).png" alt=""></div>
                <div class="barmenu"></div>
              
                    <ul>
                        <li><a href="/accueil" class="nav-item">Accueil</a></li>
                        <% if(verifUser){%>
                            <% if(role=='user'){%>
                                <li><a href="/posteService" class="nav-item">Postez un service</a></li>
                                <%}else{%>
                                    <% if(role=='artisan'){%>
                                        <li><a href="/posterPub" class="nav-item">Postez un service</a></li>
                                <%}%>
                                <%}%>
                                <%}%>
                       
                        <li><a href="#propos" class="nav-item">A propos de nous</a></li>
                        <li><a href="#contact" class="nav-item">Contactez nous</a></li>
                        <!-- <% if(verifUser){%>
                        <% if(role=='user'){%>
                            <li><a href="posteService.ejs" class="nav-item">Contactez nous</a></li>
                            <%}%>
                            <%}%> -->

                        
                    </ul>
                    
                    
                    <% if(verifUser){%>
                    <div class="button">
                        <button class="sign" onclick="profilebutn()">Profile</button>
                        <button class="log" onclick="logoutbutn()">logout</button>
                    </div>
                    <%}else{%>
                    <div class="button">
                        <button class="sign" onclick="inscrirebutn()">S'inscrire</button>
                        <button class="log" onclick="connectbutn()">Se Connecter</button>
                    </div>
                    <%}%>
                    
            </nav>
        
       <div class="box-contain" id="#accueil">
           <!-- <div class="box-vide">        
              <a href="recherche.html"><img src="./imgs/magnifying-glass-solid.svg" alt="" class="search-icon"></a> 
           </div> -->
           <p class="description">
               Trouver l'Artisan qui <br> Correspond à vos besoin 
           </p>
           <img src="/—Pngtree—happy labour day construction workers_7271228.png" alt="" class="background">
           <form   action="/recherche" method="post">

            <div class="box-vide">     
                 <button class="search-icon"><img src="/magnifying-glass-solid.svg" alt=""  ></button>    
           </div>
           <div class="wilaya-select">
            <select  id="wlychoose" name="wlychoose">
                <option value=0 hidden>Wilaya</option>
                <% for(let wly of wilaya ){ %>
                    <option value=<%= wly.nom %>>  <%= wly.nom %> </option>
                    <% } %>

                <!-- <option value="1">Oran</option> -->
                <!-- <option value="2">Sidi Bel Abbes</option>
                <option value="3">Aghouat</option>
                <option value="4">Relizene</option>
                <option value="5">Tiaret</option>
                <option value="6">Béjaia</option>
                <option value="7">Mascara</option>
                <option value="8">Tebessa</option>
                <option value="9">Batna</option>
                <option value="10">Chlef</option>
                <option value="10">Mostaganem</option> -->
                
               
                </select>
       </div>
    
       <div class="jobs-select">
        <select class="first" id ="metchoose" name="metchoose"> 
            <option value=0 hidden>Métiers</option>
             
            <% for(let met of metiers){ %>
                <option value=<%= met.metier %> > <%= met.metier %></option>
                <% } %>
                
            <!-- <option value="0">Un menuisier</option>
            <option value="1">Un plombier</option>
            <option value="2">Un maçon</option>
            <option value="3">Un mécanicien</option>
            <option value="4">Un couturie</option>
            <option value="5">Un éléctrisien</option>
            <option value="6">Un soudeur</option>
            <option value="7">Un peintre</option> -->
        </select>
   </div>
    </form>
    </div>
    <section class="second-div">
        <p class="title">
            Catégories d'emplois populaires
        </p>
        <div class="card-list">
        <div class="card card1">
            <a href=""><img src="/hammer.png" alt="" width="80" class="hammer"></a>
            <h4 class="one">  macon</h4>
            <h3 id="c1">05</h3>
        </div>
        <div class="card card1">
            <a href=""><img src="/paint-brush.png" alt="" width="80" class="hammer"></a>
            <h4 class="one">  peinteur</h4>
            <h3 id="c1">05</h3>
        </div>
        <div class="card card1">
            <a href=""><img src="/plumbering.png" alt="" width="80" class="hammer"></a>
            <h4 class="one">  Plombier</h4>
            <h3 id="c1">05</h3>
        </div>
        <div class="card card1">
            <a href=""><img src="/toolkit(1).png" alt="" width="80" class="hammer"></a>
            <h4 class="one">  mécanicien</h4>
            <h3 id="c1">05</h3>
        </div>
        <div class="card card1">
            <a href=""><img src="/handsaw.png" alt="" width="80" class="hammer"></a>
            <h4 class="one">  menuisier</h4>
            <h3 id="c1">05</h3>
        </div>
    </div>
    
    </section>
    <section class="third-div">
        <img src="/—Pngtree—super engineer character building_6516748.png" alt="" class="ghide-img">
        <div class="ghides-steps">
            <div class="content">
            <h2>Étapes faciles pour postuler à un emploi :</h2>
            <h3 class="inscription"><i class="fa-regular fa-circle-check"></i>Inscrivez-vous pour un compte gratuit.</h3>
            <h3><i class="fa-regular fa-circle-check"></i>Publiez votre premier service.</h3>
            <h3><i class="fa-regular fa-circle-check"></i>Obtenez des clients.</h3>
        </div>
        </div>
    </section>
    <section class="quinous" id="propos">
        <div class="content-text">
            <h1 class="first-title">Qui sommes-nous !</h1>
            <p class="paragraph">  la première web app  crée par ESI life , est une application web de recherche de métiers /professionnels "jobboard" et d'artisan .
                notre application Web est destinée à aider ceux qui n'ont pas de déploiement à trouver facilement des clients qui ont besoin de leur travail en tant qu'artisans, en publiant une sorte de portfolio montrant leur expérience dans ce travail en ajoutant des informations de contact afin que le client puisse les contacter pour leur faire un service
                </p>
        </div>
        <img src="/Make life ESI.png" alt="" class="algerian-crafter">
    </section>
    <footer class=" footer" id="contact">
        <div class="content-footer">
            <div class="row">
                <div class="footer-col3 footer-col">
                    <h4 class="services">company</h4>
                    <ul>
                        <li><a href="#" class="service">Company of Algerian Crafters 
                        </a></li>
                    </ul>

                </div>
                <div class="footer-col2 footer-col">
                    <h4 class="services">get help</h4>
                    <ul>
                        <li class="ctct">Contactez nous</li>
                        <li><a href="#">Our email: n.belkadi@esi-sba.dz</a></li>
                        <li><a href="#">Our number: 0548789856</a></li>
                    </ul>

                </div>
                <div class="footer-col1 footer-col">
                    <h4 class="services">folllow us</h4>
                    <div class="social-links">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                    
                    </div>

                </div>
            </div>
        </div>
    </footer>
    </div>
</body>
<script>
    function connectbutn(){
        document.location.href="/connect";
  

    }
    function inscrirebutn(){
        document.location.href="/inscrire";
    }
    function profilebutn(){
            document.location.href="/profileUser";
      

        }
        function logoutbutn(){
            document.location.href="/logout";
      

        }
        </script>
</html>