<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="    https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css
    ">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="desc6.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="contain">
            <nav>
        <div class="logo"><img src="\Algerian Crafters (5).png" alt=""></div>
      
            <ul>
                <li><a href="#" class="nav-item">Accueil</a></li>
                <li><a href="#" class="nav-item">Postez un service</a></li>
            </ul>
            <div class="search">
                    <i class="fas fa-search icon"></i>
                    <input class="input" type="text" placeholder=" Recherche " name="usrnm">
                  </div>
            <ul> 
                <li><a href="#" class="nav-item">Notification</a></li>
              
                
            </ul>
            <div class="button">
                <button class="profile" onclick="profile( )">profile</button>
               
            </div>
        </nav>

<div class="first">

  <div class="imgg"> <img src="\av.png" alt="" class="avatar"><br>
    <h1>Nom complet</h1></div> 
<div class ="non"><b>Nom d'utilisateur</b></div>
<div class="mod"><button class="mdf" onclick="modifier()">Modifier le profile</button> </div>
<div class="iconn"onclick="modifier()"><i class="fa-solid fa-gear" ></i> </div>
   
</div>
<div class="butt"><div class = "vertical"></div>
    <center>
<button class="ab"onclick="abon()">Abonnements</button>

    <button class="eng" >Enregistrements</button>
</center>

</div>
<div class="images">
    <section>
    
        <div class="card">
            <h4 class="one">  person1</h4>
            <div class="rate">
            <p>Je fais des tables pareil pour plus d'informations contactez moi!</p>  
            <p class="local"><i class="fa-solid fa-location-dot"></i> Oran - 31</p>
            </div>
        </div>
        <div class="card">
            <h4 class="two">  person2</h4>
            <div class="rate">
            <p>Je fais des tables pareil pour plus d'informations contactez moi!</p>  
            <p class="local"><i class="fa-solid fa-location-dot"></i> Oran - 31</p>
            </div>
        </div>

       


        </section>
</div>
<script>  
function profile(){
    document.location.href="profileUser";}     
    function modifier(){
    document.location.href="modifierprofile";}
// function abon(){
//     document.location.href="desc5";
// }

    

</script>
    </body>
    </html>  