*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

.container{
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    padding-bottom: 30px;
}

nav{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5 0;
    background-color: black;
}

.logo img{
    height: 100px;
    margin-top: 12px;
    width: 100px;
    cursor: pointer;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px ;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: large;
    margin-left:20px;
}
nav ul li a:hover{
    color:#c70000;
}
nav .button{
    margin: 0 10px;
    border: none;
  
}

 button.profile{
    margin: 0px 30px;
    background-color: #c70000;
    border: none;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: large;

}
button.profile:hover{
    background-color: #b91010d2;
    
    cursor: pointer;
}
button.ab{
    margin: 0px 240px;
    background-color: #c70000;
    height: 35px;
    width: 170px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: large;
    border-color: black;
    border-width: 1px;
}
button.ab:hover{
    background-color: #b91010d2;
 
}
button.eng{
    margin: 0px 240px;
    height: 35px;
    width: 170px;
    border-radius: 5px;
    color: rgb(19, 18, 18);
    cursor: pointer;
    font-size: large;
    border-color: black;
    border-width: 1px;
    background-color: #ffffff;

}
button.eng:hover{
    background-color: #e7d2d2;
 
}
button.follow{
    margin: 0px 240px;
    height: 35px;
    width: 170px;
    border-radius: 5px;
    color: rgb(19, 18, 18);
    cursor: pointer;
    font-size: large;
    border-color: black;
    border-width: 1px;
    background-color: #ffffff;
}
button.follow:hover{
    background-color: #e7d2d2;
 
}
.vertical {
    border-left: 6px solid rgba(0, 0, 0, 0.753);
    height: 200px;
    position:absolute;
    left: 50%;
   border-radius: 5px;

    
}
.search{
    padding: 10px;
    width: 30%;
    height:40px;
    background-color: #f1f1f1;
    border-radius:20px;
    margin: 10px 0 10px 0;
    display:flex;
    align-items: center;
    font-size: large;
   

}
.search:hover{
    outline-color: bisque;
}

.search > input
{flex:1;
    height:30px;
    border:none;
    background-color:#f1f1f1;
    padding-left:10px;
    
    outline:none;

}

.snd{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.vertical {
    border-left: 1px solid rgba(0, 0, 0, 0.308);
    height: 35px;
    position:absolute;
    left: 50%;
    border-radius: 20px;
}
.first{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 250px;
}
.non{
  margin-left: 130px;  
  margin-top:70px ;
  font-size: larger;
  
 
 
}
.mdf{
    margin-left: 50px;  
    margin-top:60px ;
    height: 35px;
    width: 200px;
    border-radius: 5px;
    color: rgb(19, 18, 18);
    cursor: pointer;
    font-size: large;
    border-color: black;
    border-width: 1px;
    background-color: #ffffff;
    
  }
  .mdf:hover{
   background-color: #e7d2d2;
  }
.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 60px;
    margin-top:15px;
  }
 p{
      margin-left: 47px;
     width: 48%;;
      padding-top: 0px;
      font-size:large; 
  color:rgb(36, 34, 34);

  }
  p2{
    margin-left: 75px;
  
    width: 48%;;
     padding-top: px;
     font-size:large; 
 color:rgb(36, 34, 34);   
  }
  h1{
    margin-left: 75px;
    padding-top: 9px;
    font-size:large; 
color:rgb(36, 34, 34);  
  }

  button.follow{
    
    background-color: #fffdfd;
   
    height: 35px;
    width: 150px;
    border-radius: 7px;
    color: rgb(19, 18, 18);
    cursor: pointer;
    font-size: large;
    border-color: black;
    border-width: 1px;
}
.follow{
   margin-top: 15px;
   margin-left:-150px;
}
.iconn{
   margin-top: 57px;
   margin-left: 20px;
   border-radius: 50%;
   background-color: #e7dddd;
   width:40px;
   height:40px;
  padding-top: 11px;
   text-align: center;
    
}
.iconn:hover{
    background-color: #e7d2d2;
}
.imggg{
width:55px;
height:55px;
border-radius: 50%;
padding-top: 15px;
background-color: rgb(240, 155, 169);
border-color: black;
border-width: 1px;
}

.list{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;  
    margin-left: 60px;
    margin-top: 30px;
  
}

.content{
    margin-left: -20px;
}
 .content p{
     width:max-content;
 }
 .content h1{
     margin-left: 50px;
 } 
