@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}
.container{
    width: 100%;
    height: 100vh;
    background: #f1f1f1;
   
}
.task{
    position:sticky;
    width:87%;
    height:550px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: -560px;

    margin-left: 160px;
    box-shadow: 0px 4px 34px 0px
      
       rgba(187, 118, 118, 0.514);
       display: flex;
       flex-direction: row;
}

p{
    color: #f1f1f1;
    margin-top: -30px;
    font-size: 15px;
    text-align: center;
   
}


.icon{
    margin-left: 0px; 
    color: #ffffff;
    text-align: center;

}
.icon:hover{
    background-color: #c3c3c3b9;
    color: #000000;
}
.parent{
    display: flex;
    flex-direction: row-reverse;
  
    
}
nav{
    width: 140px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    padding: 5 0;
    background-color: #000000;
}

.logo img{
    height: 120px;
    margin-left: 10px;
    width: 120px;
    cursor: pointer;
    
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 36px 0px ;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    
    

}
button.dec{
    margin: 0px 30px;
    background-color: #ffffff;
    border: none;
    height: 35px;
    width: 150px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 17px;

}
button.dec:hover{
    background-color: #bbb6b6d2;
    
    cursor: pointer;
}
    .cont{
        width: 90%;
        height: 200px;
        display: flex;
        justify-content: space-between;
     
        background-color: #5e5e61;
       
    }

    
    .cont ul li{
        list-style: none;
        display: inline-block;
        margin-left: 50px;
        margin-top:30px;
        padding-right: 50px;
        color: #ffffff;
    }
    .cont ul li a{
        text-decoration: none;
        color: white;
        font-size: 16px;
        
    
    }
    .cont ul li a:hover{
        color:#141414;
    }
    .stat{
        margin-left: 150px;
        margin-top: -400px;
        width: 80%;
        height: 50%;
        border-radius: 20px;
        justify-content: space-between;
        background-color: #ce6262;
    }
   
    .card2{
        
        text-align: center;
        justify-content: center;
        padding-top: 25px;
        font-size: larger;
        margin-top: 60px;
        margin-left: px;
        margin-right: px;
        width:90%;
        height:100px;
        box-shadow: 0px 4px 10px 0px
      
        rgba(156, 155, 155, 0.514);
        display: flex;
        flex-direction: row;
      color:#636262

    }
    .card3{
        
        text-align: center;
        justify-content: center;
        padding-top: 25px;
        font-size: larger;
        margin-top: 60px;
        margin-left: px;
        margin-right: px;
        width:90%;
        height:100px;
        box-shadow: 0px 4px 10px 0px
      
        rgba(187, 118, 118, 0.514);
        display: flex;
        flex-direction: row;
      color:#970e0e;

    }
    .icn{
      margin-left:25px;
      
        
    }
    
    
    
     .center{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -500px;
        margin-left: 00px;
        flex-direction: column;
        
     } 
    .wrapper-center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width:45%;
        height:500px;
        box-shadow: 0px 4px 34px 0px
      
        rgba(187, 118, 118, 0.514);
        margin-left: 37px;
        margin-top: 25px;
        border-radius: 7px;

        
    }
    

    .progress-bar {
        width: 200px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px; 
        position: relative;
    }
    .progress-bar:before {
        content: "";
        position: absolute;
        right: 0;
        width: 50%;
        height: 10%;
        background: rgb(255, 255, 255);
        z-index: 0;}

        .progress{
            width: 200px;
            height: 280px;
            z-index: 1;
        }
        .progress .track, .progress .fill{
            fill: rgba(0, 0, 0, 0);
            stroke-width: 3;
            transform: rotate(90deg)translate(0px, -80px);
        }
        .progress .track{
            stroke: #bec2c5;
        }
        .progress .fill {
            stroke: #272829;
            stroke-dasharray: 219.99078369140625;
            stroke-dashoffset: -219.99078369140625;
            transition: stroke-dashoffset 1s;
        }
        .progress .value {
            fill: #383a3b;
            text-anchor: middle;
        }
        .progress .text {
            font-size: 12px;
            fill: rgb(0, 0, 0);
            text-anchor: middle;
        }


       


        .progress-bar2 {
            width: 200px;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px; 
            position: relative;
        }
        .progress-bar2:before {
            content: "";
            position: absolute;
            right: 0;
            width: 50%;
            height: 10%;
            background: rgb(255, 255, 255);
            z-index: 0;}
    
            .progress2{
                width: 200px;
                height: 280px;
                z-index: 1;
            }
            .progress2 .track2, .progress2 .fill2{
                fill: rgba(0, 0, 0, 0);
                stroke-width: 3;
                transform: rotate(90deg)translate(0px, -80px);
            }
            .progress2 .track2{
                stroke: #bec2c5;
            }
            .progress2 .fill2 {
                stroke: #ac1414;
                stroke-dasharray: 219.99078369140625;
                stroke-dashoffset: -219.99078369140625;
                transition: stroke-dashoffset 1s;
            }
            .progress2 .value2 {
                fill: #3b3838;
                text-anchor: middle;
            }
            .progress2 .text2 {
                font-size: 12px;
                fill: rgb(0, 0, 0);
                text-anchor: middle;
                
            }

           


      