@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
:root{
    --black:#000000;
    --red:#c70000;
    --white:#ffffff;
    --gris:#c4c4c436;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

.container{
    width: 100%;
    height: 115vh;
    background: #f1f1f1;
}

header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5 0;
    background-color: #030359;
}

.logo img{
    height: 100px;
    margin-top: 12px;
    width: 100px;
    cursor: pointer;
}
header ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px ;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    margin-left:20px;
}
header ul li a:hover{
    color:#c70000;
}
header .button{
    margin: 0 10px;
    border: none;
  
}

 button.profile{
    margin: 0px 30px;
    background-color: #c70000;
    border: none;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 17px;

}
button.profile:hover{
    background-color: #b91010d2;
    
    cursor: pointer;
}
button.dec{
    margin: 0px 30px;
    background-color: #ffffff;
    border: none;
    height: 35px;
    width: 150px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 17px;

}
button.dec:hover{
    background-color: #bbb9b9d2;
    
    cursor: pointer;
}
/* button.profile:hover{
  
    
    cursor: pointer;
} */
.search{
    padding: 10px;
    width: 30%;
    height:40px;
    background-color: #f1f1f1;
    border-radius:20px;
    margin: 10px 0 10px 0;
    display:flex;
    align-items: center;
    font-size: large;
   

}
.search:hover{
    outline-color: bisque;
}

.search > input
{flex:1;
    height:30px;
    border:none;
    background-color:#f1f1f1;
    padding-left:10px;
    
    outline:none;

}
.btn{
    border: none;
    padding: 5px;
    cursor: pointer;
  }
.search-icon{
    /* border: none; */
    background-color:#f1f1f1 ;
}
.contain{
    display: grid;
    grid-template-columns: repeat(2,auto);
    width: 100%;
    height: 100vh;
}
/* css user ajouter photo */

.profile-pic-div{
    height: 190px;
    width: 128px;
    position: absolute;
    transform: translate(74%,17%);
    top: 70px;
  }
  
img.photoprofile{
    width: 180px;
    height: 180px;
    position: relative;
    left: -23px;
    top: -32px}
 
/* end */
.box h3{
    font-size: 12px;
    position: relative;
    top: 30px;
    text-align: center;

}
.description{
    background-color: rgb(206, 202, 202);
    width: 323px;
    margin-left: 0px;
    margin-top: 0px;
    line-height: 31px;


}
.description .info{
    display: flex;
    flex-direction: column;
    text-align: center;

    position: relative;
    top: 164px;
    text-align: center;
}
.profile,.number-phone{
    margin-left: 78px;
    width: 48%;
    padding-top: 0px;
    font-size: 17px;
    color: rgb(36, 34, 34);
}
.description .line{
    border: 1px solid var(--black);
    margin: 0px 50px;
    position: relative;
    top: 176px;
}
.taches{
    position: relative;
    top: 196px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;

}
button.modifier{
    border: none;
    background: none;
    padding: 10px 50px;
    /* background: #ddd; */
    margin-top: 15px;
}
.modifier{
    margin-left: 15px;
}
/* span i{
    margin-right: 50px;
} */
.side-nav{
    list-style: none;
    position: absolute;
    bottom: -10px;
    width: 322px;
}
.side-nav nav ul li{
    list-style: none;
display: flex;
width: 100%;

position: relative;
padding: 8px 0px 8px 20px;
margin-bottom: 10px;
cursor: pointer;
transition: all .4s ease;
}
.side-nav nav ul li.active,
.side-nav nav ul li:hover{
    background:rgb(146, 142, 142) ;
}
.side-nav nav ul li span{
    margin-right: 10px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    background: var(--red);
    color: var(--white);
}
.side-nav nav ul li h3{
    line-height: 30px;
    font-size: 1.2em;
    font-weight: 100;
}
/* modifier */


.inputcontainer{
    padding: px;
    width: 90%;
    height:40px;
    background-color: #ddd6d6;
    border-radius:5px;
    margin: 4px 0 15px 0;
    display:flex;
    align-items: center;
    font-size: large;
    
   
}

.inputcontainer:hover{
    border: 1px solid black;
}

.inputcontainer > input
{   flex:1;
    height:38px;
    border:none;
    background-color:#ddd6d6;
    padding-left:10px;
    outline:none;

}
.inputcontainer > select{
    flex:1;
    height:38px;
    border:none;
    background-color:#ddd6d6;
    padding-left:10px;
    outline:none;
}

.file {
        margin: 0;
        height: auto;
      }
.file__input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 1px;
    height: 1px;
  }
.file__label {
width:130px;
height:130px;
background-position: center;
        background-size: cover;
        cursor: pointer;
        border-radius:50%;
        text-align: center;
        background-image: url(user.jpg);
        display: block;
        padding: 0;
        background: hidden;
        position: relative;
        margin-top: px;
    
  }
  
.icn{
    background-image: url(plus.png);
    margin-left: 100px;
    margin-top:80px;
    position:absolute;
    background-position:center ;
    width:50px;
    height:50px;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
    border-radius: 50%;
}



 .parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding-top: 70px; */
    /* padding-left: 260px; */
    margin-top: 10px;
    width: 900px;
    height: 95%;
    box-shadow: 0px 4px 34px 0px
      
       rgba(0, 0, 0, 0.308);
    /* margin-left: -91px; */
    /* margin-right: auto;/ */
    top: -1px;
    /* right: px; */
    position: relative;
     
   
} 
.err{
    height:23px;
    width:90%;
    background-color: #ff000034;
    margin-top: -12px;
    border-radius: 5px;
}
.form{
    display: flex;
    flex-direction: column;
    position: absolute;
    left:40%;
    top:20px;
}

  .form p{
      font-size:larger; 
  color:rgb(36, 34, 34);
  margin-left: 1px;
  width:100%;
  
  }
 
    .pic{
        margin-top: -35px;
        margin-left: 50px;
    }
  .icn{
      background-image: url(plus.png);
      margin-left: 100px;
      margin-top:80px;
      position:absolute;
      background-position:center ;
      width:50px;
      height:50px;
      background-repeat: no-repeat;
      background-color: #f1f1f1;
      border-radius: 50%;
  }
  .icn:hover{
      background-color: #8b8b8f;
  }
 
  
  button.sau{
    
      background-color: #c70000;
      border: none;
      height: 35px;
      width: 180px;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      font-size: large;
     margin-top: 10px;
     margin-left: 250px;
  }
  button.sau:hover{
      background-color: #b91010d2;
  }
.profile-pic{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 14%;
    left: 230px;
    transform: translate(-50% ,-50px);
    border-radius: 50%;
    overflow: hidden;
    border:1px solid black ;
}



#photo{
    height: 100%;
    width: 100%;
}

#file{
    display: none;
}

#uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(52, 51, 51, 0.7);
    color: var(--black);
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}
/* posts */

.main section{
    width: 100%;
    height: 100%;
    padding:20px ;
    display: none;
}
.main section h1{
     margin: 0px auto 20px ;
     text-transform: capitalize;
     text-align: center;
     color: #030359;
     font-size: 34px;
}
.user-posts{
    display: grid;
    gap: 10px;
    grid-template-columns:repeat(auto-fit,minmax(200px,3fr)) ;
    width: 12rem;
    height: 33rem;
  
}
.user-posts .posts{
    background: var(--white);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 2px rgba(0,0,0,.1);
    height: 326px;
    width: 207px;

}
/* .user-posts .posts:first-child{
    
    display: flex;
    justify-content: center;
    align-items: center;
     
} */

.user-posts .posts h3{
    width: 200px;
    height: 10px;
    margin-left: 15px;
}
.user-posts .posts:first-child span{
    text-align: center;
    width: 70px;
    height: 70px;
    background: var(--red);
    border-radius: 50%;
    line-height: 70px;
    color: var(--white);
    font-size: 30px ;
    cursor: pointer;
}
.user-posts .posts  h2{
    position: absolute;
    /* bottom: 110px; */
    /* width: 5px; */
    top: 170px;
    font-size: 15px;
    padding-left :52px;
    /* top: 195px; */

    /* border-radius: 10px; */
    padding-top: 17px;
    padding-bottom: 26px;
   
    background: rgba(0,0,0,.5);
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
/* .user-posts {
    width: 100%;
    height: 50%;
} */
.posts img{
    width: 13rem;
    height: 13rem;

}
/* .user-posts .posts p{
    margin-left: 1px;
    line-height: 30px;
} */
/* comments */
.comments-box{
    background-color: #cec9c9;
    width: 110vh;
    height: 470px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    line-height: 50px;
    box-shadow: 0px 4px 34px 0px
      
    rgba(0, 0, 0, 0.308);

}
.person-comment{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
h4{
    width: 80%;
    margin-left: 50px;
}
hr{
    margin-left: 50px;
    margin-right: 50px;
}
/* abonnements */
/* .avatar {
    vertical-align: middle;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-left: 60px;
    margin-top:50px;
  } */
 p{
      margin-left: 47px;
   
      padding-top: 0px;
      font-size:17px; 
  color:rgb(36, 34, 34);

  }
.p2{
    margin-left:-6%;
  
    width: 48%;;
     padding-top: px;
     font-size:17px; 
 color:rgb(36, 34, 34);   
  }
  h1{
    margin-left: 75px;
    padding-top: 9px;
    font-size: 18px;
color:rgb(36, 34, 34);  
  }

  button.follow{
    
    background-color: #fffdfd;
    margin-top: 50px;
    height: 35px;
    width: 150px;
    border-radius: 7px;
    color: rgb(19, 18, 18);
    cursor: pointer;
    font-size: 18px;
    border-color: black;
    border-width: 1px;
    margin-left:250%;
}
.follow{
   margin-top: 15px;
   margin-left:-150px;
}
.fa-gear{
margin-left: -190px;
}
.imggg{
width:55px;
height:55px;
border-radius: 50%;
padding-top: 15px;
border-color: black;
border-width: 1px;
margin-top: 20px;
}
.personne{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.list{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;  
    margin-left: 60px;
    /* margin-top: 30px; */
  
}


.content{
    margin-left: -20px;
    margin-top: 20px;
    line-height: 16px;
}
 .content p.cate{
     width:max-content;
 }
 .content h1{
     margin-left: 50px;
     font-size: 15px;
 } 
 .list .person{
     font-size: 15px;
 }
 .travail{
    font-size: 16px;

 }